@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', "Noto serif JP",'Poppins',"marcellus";
  line-height: 1.75;
  color:#333333;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


.header{
  display:flex;
  justify-content:space-between;
}

@media(min-width:768px) and (max-width:1200px){
  .header{
    justify-content:space-around;
  }
}

@media(min-width:1200px){
  .header{
    justify-content:space-between;
  }
}

.header__logo{
  margin-left:11px;
  margin-top:-2px;
  margin-bottom:4px;
}

@media(min-width: 768px) and (max-width:1200px){
  .header__logo{
    margin-left:0px;
    margin-top:13px;
    margin-bottom:19px;
  }
}

@media(min-width:1200px){
  .header__logo{
    margin-left:207px;
    margin-top:13px;
    margin-bottom:19px;
  }

}

.header__logo img{
  width: 72px;
  height: 41px;
  vertical-align:middle;
}

@media(min-width: 768px){
  .header__logo img{
    width: 98px;
    height: 51.5px;
  }
}

.hamburger-menu--list--group {
    display: flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    column-gap:2px;
    font-size: 1.125rem;
    background-color:#fff;
    margin-top:14px;
    margin-right:10px;
}

@media(min-width:768px) and (max-width:1200px){
  .hamburger-menu--list--group{
    margin-top:20px;
    margin-right:0px;
    column-gap:14px;
  }

}

@media(min-width: 1200px){
  .hamburger-menu--list--group{
    margin-top:20px;
    margin-right:207px;
    column-gap:14px;
  }
}

.hamburger-menu--list--group a {
  display: flex;
  align-items: center;
  padding-left:12px;
  line-height: 1;
  border-bottom: 0.0625rem solid #fff;
  color:#fff
}

@media(min-width: 768px){
  .hamburger-menu--list--group a{
    padding-left:23px;
  }
}

.header__button .button--white--ghost{
  color:#fff;
  height:31px;
  text-align:center;
  margin-left:7px;
  font-size:12px;
  letter-spacing:0.03rem;
  padding-bottom:11px;
  font-weight:400;
}

@media(min-width:768px){
  .header__button .button--white--ghost{
    height:50.4px;
    font-size:21px;
    letter-spacing:0;
  }
}

.button--pink{
  width:107px;
  background-color:#fa7da3;
}

@media(min-width:768px){
  .button--pink{
    width:189.1px;
  }
}

.button--pink img{
  padding-left:5px;
}

@media(min-width:768px){
  .button--pink img{
    padding-left:12px;
  }
}

.button--green{
  width:173.7px;
  background-color:#49c43d;
}

@media(min-width:768px){
  .button--green{
    width:295.5px;
  }
}

.button--green img{
  padding-left:5px;
}

.header__button__small__font{
  font-size:10px;
}

@media(min-width:768px){
  .header__button__small__font{
    font-size:18px;
  }
}

.button--white--ghost{
  display:block;
  position:relative;
  height:69px;
  border-radius: 38px;
  padding-top:11px;
  padding-left:1px;
  font-size:20px;
  font-weight:700;
  letter-spacing:-0.05rem;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.mv{
  background-color:#fa7da3;
}

@media(min-width:768px){
  .mv{
    background-color:#fa7da3;
  }
}

.mv__container{
  background-color:#fa7da3;
  margin-top:0;
  background-image: url('../image/mv_01.png');
  background-size: cover;
  aspect-ratio:390/318;
}

@media(min-width:768px){
  .mv__container{
    background-color:#fa7da3;
    margin-top:0;
    background-image: url('../image/mv_pc_01.png');
    background-size: cover;
    aspect-ratio:1440/612;
  }
}

.mv__top--half{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  column-gap:18px;
}

@media(min-width:768px) and (max-width:1200px){
  .mv__top--half{
    display:flex;
    justify-content:center;
    column-gap:35px; 
    max-width:760px;
    margin-right:auto;
    margin-left:auto;
  }
}

@media(min-width:1200px){
  .mv__top--half{
    display:flex;
    justify-content:flex-start;
    column-gap:14px; 
    max-width:1030px;
    margin-right:auto;
    margin-left:auto;
  }
}

.top__title{
  font-size:42px;
  color:#fff;
  font-weight:400;
  line-height:1;
  padding-top:20px;
  padding-left:17px;
}

@media(min-width:768px) and (max-width:1200px){
  .top__title{
    font-size:48px;
  }
}

@media(min-width:1200px){
  .top__title{
    font-size:122px;
    padding-left:10px;
    padding-top:22px;
  }
}

.top__title__note{
  font-size:18px;
  color:#fff;
  font-weight:400;
  padding-left:43px;
  padding-top:3px;
}

@media(min-width:768px) and (max-width:1200px){
  .top__title__note{
    font-size:24px;
    padding-left:18px;
  }
}

@media(min-width:1200px){
  .top__title__note{
  font-size:36px;
  text-align:right;
  margin-right:-37px;
  padding-top:7px;
  }
}


@media(min-width:1200px){
  .mv__top--half--left{
    margin-left:31px
  }
}

.mv__top--half--right{
  display:flex;
  background-color:#fca4bf;
  height:107px;
  box-shadow: 0px 5px 0px 0px #e77497;
}

@media(min-width:768px){
  .mv__top--half--right{
    height:222px;
    width:423px;
    margin-left:28px;
    box-shadow: 0px 5px 0px 0px #e77497;
  }
}

.mv__top--half--right--above{
  color:#fca4bf;
  background-color:#fff;
  margin-top:27px;
}

@media(min-width:768px){
  .mv__top--half--right--above{
    margin-top:44px;
  }
}

.mv__top--half--right--above--text{
  font-size:13px;
  font-weight:700;
  padding-left:5px;
}

@media(min-width:768px){
  .mv__top--half--right--above--text{
    font-size:29px;
    padding-left:8px;
  }
}

@media(min-width:768px) and (max-width:1200px){
  .mv__top--half--right--upper{
    line-height:1;
  }
}

.mv__top--half--right--upper--text{
  font-size:24px;
  font-weight:700;
  color:#fff;
}

@media(min-width:768px){
  .mv__top--half--right--upper--text{
    font-size:54px;
  }
}

.mv__top--half--right--left{
  margin-right:10px;
  margin-left:25px;
}

@media(min-width:768px){
  .mv__top--half--right--left{
    margin-right:27px;
    margin-left:61px;
  }
}

.mv__top--half--right--right{
  margin-right:22px;
  margin-top:10px;
}

@media(min-width:768px){
  .mv__top--half--right--right{
    margin-right:0px;
    margin-top:10px;
  }
}

.mv__top--half--right--right--value{
  font-size:76px;
  font-weight:700;
  color:#fffd7a;
  line-height:1;
}

@media(min-width:768px){
  .mv__top--half--right--right--value{
    font-size:171px;
  }
}

.mv__top--half--right--right--yen{
  font-size:36px;
  font-weight:700;
  color:#fffd7a;
}

@media(min-width:768px){
  .mv__top--half--right--right--yen{
    font-size:81px;
  }
}

.mv__under--half--value--number{
  font-family:"outfit";
  font-size:14px;
  color:#fff;
  margin-right:-4px;
}

@media(min-width:768px){
  .mv__under--half--value--number{
    font-size:26.5px;
    margin-right:-4px;
  }
}

.mv__under--half--value--unit{
  font-size:9px;
  padding-right:25px;
  color:#fff;
  font-family:"outfit";
}

@media(min-width:768px){
  .mv__under--half--value--unit{
    font-size:17px;
    padding-right:93px;
  }
}

.mv__under--half{
  text-align:right;
}

@media(min-width:768px) and (max-width:1200px){
  .mv__under--half{
    max-width:760px;
    margin-left:33px;
    margin-right:auto;
  }
}

@media(min-width:1200px){
  .mv__under--half{
    margin-left:33px;
  }
}

.mv__under--half--value{
  padding-top:2px;
}

.mv__under--half--first{
  border:solid 1px #fff;
  text-align:center;
  height:35px;
  width:133px;
  margin-left:auto;
  margin-right:26px;
  font-size:18px;
  color:#fff;
  margin-top:19px;
}

@media(min-width:768px){
  .mv__under--half--first{
    text-align:center;
    width:424px;
    height:70px;
    margin-left:auto;
    font-size:28px;
    color:#fff;
    margin-top:41px;
    padding-top:7px;
    padding-right:4px;
  }
}

@media(min-width:768px) and (max-width:1200px){
  .mv__under--half--first{
    margin-right:41px;
  }
}

@media(min-width:1200px){
  .mv__under--half--first{
    margin-right:29px;
  }
}

.mv__under--half--second{
  border:solid 1px #fff;
  text-align:center;
  height:35px;
  width:133px;
  margin-left:auto;
  margin-right:26px;
  font-size:18px;
  color:#fff;
  margin-top:13px;
}

@media(min-width:768px){
  .mv__under--half--second{
    text-align:center;
    width:424px;
    height:70px;
    margin-left:auto;
    font-size:28px;
    color:#fff;
    margin-top:19px;
    padding-top:7px;
    padding-right:0px;
  }
}

@media(min-width:768px) and (max-width:1200px){
  .mv__under--half--second{
    margin-right:41px;
  }
}

@media(min-width:1200px){
  .mv__under--half--second{
    margin-right:29px;
  }
}

.mv__under--half--third{
  border:solid 1px #fff;
  text-align:center;
  height:35px;
  width:133px;
  margin-left:auto;
  margin-right:26px;
  font-size:18px;
  color:#fff;
  margin-top:12px;
  margin-bottom:12px;
}

@media(min-width:768px){
  .mv__under--half--third{
    text-align:center;
    width:424px;
    height:70px;
    margin-left:auto;
    font-size:28px;
    color:#fff;
    margin-top:19px;
    padding-top:7px;
    padding-right:0px;
  }
}

@media(min-width:768px) and (max-width:1200px){
  .mv__under--half--third{
    margin-right:41px;
  }
}

@media(min-width:1200px){
  .mv__under--half--third{
    margin-right:29px;
  }
}

.present{
  background-color:#fffedd;
}

.present__title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 1;
  color: #fa7da3;
  padding-top:20px;
}

@media(min-width:768px){
  .present__title{
    padding-top:46px;
  }
}

.present__title::before {
  width: 2px;
  height: 27px;
  content: "";
  background-color: #fa7da3;
}

@media(min-width:768px){
  .present__title::before {
    width: 3.27px;
    height: 44.2px;
  }
}

.present__title::after {
  width: 2px;
  height: 27px;
  content: "";
  background-color: #fa7da3;
}

@media(min-width:768px){
  .present__title::after {
    width: 3.27px;
    height: 44.2px;
  }
}

.present__title::before {
  margin-right: 1px;
  transform: rotate(-30deg);
}

@media(min-width:768px){
  .present__title::before {
    margin-right: 14px;
  }
}

.present__title::after {
  margin-left: 1px;
  transform: rotate(30deg);
}

@media(min-width:768px){
  .present__title::after {
    margin-left: 3px;
  }
}

.present__title--text{
  font-size:21px;
  margin-bottom:5px;
  padding-left:10px
}

@media(min-width:768px){
  .present__title--text{
    font-size:34px;
    margin-bottom:10px;
    padding-left:10px;
  }
}

.present__body{
  margin-top:11px;
}

@media(min-width:768px){
  .present__body{
    margin-top:17px;
  }
}

.present__body--above--half--container{
  background-color:#fa7da3;
  border-radius:10px 10px 0 0;
  margin-right:20px;
  margin-left:20px;
  height: 32px;
}

@media(min-width:768px){
  .present__body--above--half--container{
    height: 47px;
    width:550px;
    margin-right:auto;
    margin-left:auto;
  }
}

.present__body--above--half--text{
  color:#fff;
  font-size:21px;
  text-align:center;
  line-height:1;
  padding-top:3px;
}

@media(min-width:768px){
  .present__body--above--half--text{
    font-size:32px;
  }
}

.present__body--under--half--container{
  border-radius:0 0 10px 10px;
  background-color:#fff;
  margin-right:20px;
  margin-left:20px;
  border:solid 1px #fa7da3;
  text-align:center;
  height:61px;
  line-height:1;
  padding-left:14px;
  padding-top:6px;
}

@media(min-width:768px){
  .present__body--under--half--container{
    height: 101px;
    width:550px;
    margin-right:auto;
    margin-left:auto;
  }
}

.present__body--under--half--text{
  font-size:27px;
  color:#fa7da3;
  font-weight:400;
}

@media(min-width:768px){
  .present__body--under--half--text{
    font-size:44px;
  }
}

.present__body--under--half--text--number{
  font-size:42px;
  font-weight:600;
}

@media(min-width:768px){
  .present__body--under--half--text--number{
    font-size:68px;
    padding-left:8px;
  }
}

.present__notes__text{
  font-size:10px;
  text-align:center;
  letter-spacing: 0.01rem;
  padding-top:6px;
  padding-bottom:13px;
}

@media(min-width:768px){
  .present__notes__text{
    font-size:14px;
    padding-top:13px;
    padding-bottom:22px;
  }
}

.button-list__container{
  margin-top:13px;
}

@media(min-width:768px){
  .button-list__container{
    margin-top:51px;
  }
}

.button-list__item--name{
  font-size:21px;
  font-weight:600;
  color:#fa7da3;
  text-align:center;
  letter-spacing: 0.15rem;
  padding-left:11px;
  padding-bottom:4px;
}

@media(min-width:768px){
  .button-list__item--name{
    font-size:34px;
    letter-spacing:0.2rem;
  }
}

.button--white--ghost--green{
  background-color:#49c43d;
  display:flex;
  justify-content: center;
  column-gap:30px;
}

@media(min-width:768px){
  .button--white--ghost--green{
    column-gap:43px;
  }
}

.button-list__button .button--white--ghost{
  max-width:350px;
  height:80px;
}

@media(min-width:768px){
  .button-list__button .button--white--ghost{
    width:571px;
    max-width:600px;
    height:130px;
    border-radius: 65px;
  }
}

.green--button--text--first--line{
  font-size:21px;
  font-weight:700;
  color:#fff;
  line-height:1;
  letter-spacing:0.12rem;
  padding-left:39px;
  padding-top:4px;
}

@media(min-width:768px){
  .green--button--text--first--line{
    font-size:34px;
    letter-spacing:0.22rem;
    padding-left:63px;
    padding-top:18px;
  }
}

.green--button--text--second--line{
  font-size:21px;
  font-weight:700;
  color:#fff;
  line-height:1;
  letter-spacing:0.12rem;
  padding-left:40px;
  padding-top:7px;
}

@media(min-width:768px){
  .green--button--text--second--line{
    font-size:34px;
    letter-spacing:0.22rem;
    padding-left:64px;
    padding-top:9px;
  }
}

.button--white--ghost--green--arrow{
  margin-top:4px;
}

@media(min-width:768px){
  .button--white--ghost--green--arrow{
    margin-top:40px;
  }
}

.free-experience--container{
  margin-top:31px;
  margin-bottom:34px;
}

@media(min-width:768px){
  .free-experience--container{
    margin-top:51px;
    margin-bottom:54px;
  }
}

.free-experience--title{
  max-width:350px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  border-top:1px solid #50bfff;
  border-bottom:1px solid #50bfff;
}

@media(min-width:768px){
  .free-experience--title{
    width:575px;
    max-width:600px;
    height:67px;
    border-top:3px solid #50bfff;
    border-bottom:3px solid #50bfff;
  }
}

.free-experience--title--text{
  font-size:17px;
  font-weight:600;
  color:#50bfff;
  text-align:center;
  padding-top:4px;
  letter-spacing: 0.09rem;
}

@media(min-width:768px){
  .free-experience--title--text{
    font-size:28px;
    font-weight:600;
    color:#50bfff;
    text-align:center;
    padding-top:4px;
    letter-spacing: 0.09rem;
  }
}

.free-experience--body{
  max-width:390px;
  margin-left:auto;
  margin-right:auto;
}

@media(min-width:768px){
  .free-experience--body{
    width:620px;
    max-width:700px;
  }
}

.free-experience--first--line{
  display:flex;
  margin-top:11px;
}

@media(min-width:768px){
  .free-experience--first--line{
    margin-top:13px;
  }
}

.free-experience--first--line--item{
  font-size:14px;
  padding-left:0px;
  text-align:right;
}

@media(min-width:768px){
  .free-experience--first--line--item{
    font-size:23px;
    padding-left:21px;
  }
}

.free-experience--first--line--text{
  font-size:14px;
  letter-spacing:-0.01rem;
}

@media(min-width:768px){
  .free-experience--first--line--text{
    font-size:23px;
    letter-spacing:-0.04rem;
  }
}

.free-experience--first--line--text--mini{
  font-size:11px;
}

@media(min-width:768px){
  .free-experience--first--line--text--mini{
    font-size:18px;
  }
}

@media(min-width:768px){
  .free-experience--second--line .free-experience--second--line--text--mini{
    padding-top:5px;
    margin-left:-12px;
  }
}

.free-experience--second--line{
  display:flex;
  margin-top:0px;
}

.free-experience--first--line--item--box{
  width:105px;
}

@media(min-width:768px){
  .free-experience--first--line--item--box{
    width:159px;
  }
}

.free-experience--second--line--item--box{
  width:105px;
}

@media(min-width:768px){
  .free-experience--second--line--item--box{
    width:159px;
  }
}

.free-experience--second--line--item{
  font-size:14px;
  padding-left:0px;
  text-align:right;
}

@media(min-width:768px){
  .free-experience--second--line--item{
    font-size:23px;
    padding-left:21px;
  }
}

.free-experience--second--line--text--container{
  display:flex;
  flex-wrap: wrap;
}

.free-experience--second--line--text{
  font-size:14px;
  letter-spacing:-0.01rem;
}

@media(min-width:768px){
  .free-experience--second--line--text{
    font-size:23px;
    letter-spacing:-0.02rem;
  }
}

.free-experience--second--line--text--mini{
  font-size:11px;
}

@media(min-width:768px){
  .free-experience--second--line--text--mini{
    font-size:18px;
  }
}

.point{
  background-color:#fdf0d5;
}

.point__container{
  max-width:390px;
  margin-right:auto;
  margin-left:auto;
}

@media(min-width:768px){
  .point__container{
    max-width:820px;
  }
}

.point__title{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  padding-top:28px;
}

@media(min-width:768px){
  .point__title{
    padding-top:44px;
    padding-bottom:24px;
  }
}

.point__title--first--line{
  display:flex;
  justify-content: center;
}

.point__title--first--line--text{
  font-size:18px;
  font-weight:400;
  padding-left:2px;
  padding-top:2px;
}


.point__title--second--line{
  display:flex;
  justify-content: center;
  line-height:1;
  margin-top:5px;
  letter-spacing: 0.08rem;
  padding-left:2px;
}

@media(min-width:768px){
  .point__title--second--line{
    margin-top:8px;
    letter-spacing: 0.04rem;
    padding-left:0px;
    column-gap:4px;
  }
}

.point__title--second--line--text{
  font-size:32px;
  color:#fa7da3;
  font-weight:700;
  padding-top:4px;
}

@media(min-width:768px){
  .point__title--second--line--text{
    font-size:42px;
    padding-top:9px;
  }
}

.point__body--under--half--body{
  display:flex;
  justify-content:center;
  margin-top:12px;
  column-gap:22px;
}

@media(min-width:768px){
  .point__body--under--half--body{
    margin-top:23px;
    column-gap:40px;
  }
}

.point__body--above--half--container{
  background-color:#fa7da3;
  border-radius:10px 10px 0 0;
  margin-right:20px;
  margin-left:20px;
  height: 46px;
  display:flex;
  justify-content: center;
  color:#fff;
  margin-top:24px;
  padding-top:5px;
}

@media(min-width:768px){
  .point__body--above--half--container{
    margin-right:20px;
    margin-left:20px;
    height: 74px;
    margin-top:24px;
    padding-top:13px;
  }
}

.point__body--above--half--left{
  font-size:18px;
  padding-right:12px;
  font-weight:400;
}

@media(min-width:768px){
  .point__body--above--half--left{
    font-size:28px;
    padding-right:17px;
  }
}

.point__body--above--half--center{
  font-size:18px;
  font-weight:400;
}

@media(min-width:768px){
  .point__body--above--half--center{
    font-size:28px;
  }
}

.point__body--above--half--right{
  font-size:18px;
  padding-left:12px;
  font-weight:400;
}

@media(min-width:768px){
  .point__body--above--half--right{
    font-size:28px;
    padding-left:17px;
  }
}

.point__body--under--half--text{
  font-size:14px;
  letter-spacing:-0.04rem;
  line-height:1.55;
  padding-left:21px;
  padding-right:20px;
}

@media(min-width:768px){
  .point__body--under--half--text{
    font-size:21px;
    letter-spacing:0;
    line-height:1.55;
    padding-left:0px;
  }
}

.point__body--under--half--container{
  border-radius:0 0 10px 10px;
  background-color:#fff;
  margin-right:20px;
  margin-left:20px;
  border:solid 1px #fa7da3;
  text-align:left;
  height:196px;
  line-height:1;
  padding-top:11px;
}

@media(min-width:768px){
  .point__body--under--half--container{
    height:294px;
    padding-left:42px;
    padding-right:40px;
    padding-top:22px;
  }
}

@media(max-width:767.5px){
.point__body--under--half--body--left{
  width:100%;
  max-width:143px;
  }
}

.point__body--under--half--body--left--container{
  height:85px;
  border:solid 1px #fa7da3;
  padding-top:23px;
  padding-left:25%;
}

@media(min-width:768px){
  .point__body--under--half--body--left--container{
    width:232px;
    height:136px;
    padding-top:37px;
    padding-left:57px;
  }
}

@media(max-width:767.5px){
.point__body--under--half--body--right{
  width:100%;
  max-width:143px;
  }
}

.point__body--under--half--body--right--container{
  height:85px;
  border:solid 1px #000;
  padding-top:32px;
  text-align:center;
}

@media(min-width:768px){
  .point__body--under--half--body--right--container{
    width:232px;
    height:136px;
    padding-top:52px;
    padding-left:1px;
  }
}

.point__body--under--half--body--left--text{
  font-size:14px;
  padding-top:8px;
  text-align:center;
}

@media(min-width:768px){
  .point__body--under--half--body--left--text{
    font-size:21px;
    padding-top:16px;
  }
}

.point__body--under--half--body--right--text{
  font-size:14px;
  padding-top:8px;
  text-align:center;
}

@media(min-width:768px){
  .point__body--under--half--body--right--text{
    font-size:21px;
    padding-top:16px;
  }
}

.point__body--under--half--body--right--body--text{
  font-size:18px;
}

@media(min-width:768px){
  .point__body--under--half--body--right--body--text{
    font-size:29px;
  }
}

.point__second{
  margin-top:31px;
}

@media(min-width:768px){
  .point__second{
    margin-top:49px;
  }
}

.point__second .point__body--under--half--container{
  padding-left:0px;
  padding-right:0px;
  padding-top:12px;
  height:unset;
}

@media(min-width:768px){
  .point__second .point__body--under--half--container{
    padding-left:42px;
    padding-right:42px;
    padding-top:26px;
    height:unset;
  }
}

.point__second .point__body--under--half--text{
  letter-spacing:0;
  padding-right:9px;
  padding-left:22px;
}

@media(min-width:1200px){
  .point__second .point__body--under--half--text{
    letter-spacing:0;
    padding-right:0px;
    padding-left:0px;
  }
}

.point__body--under--half--all--body--title{
  font-size:23px;
  font-weight:600;
  text-align:center;
  padding-top:25px;
}

@media(min-width:768px){
  .point__body--under--half--all--body--title{
    padding-top:29px;
    font-size:24px;
  }
}

.point__body--under--half--picture{
  margin-top:31px;
  position:relative;
  margin-right:5.5%;
  margin-left:5.5%;
}

@media(min-width:768px){
  .point__body--under--half--picture{
    margin-top:25px;
    padding-left:41px;
    padding-right:40px;
  }
}

.point__body--under--half--picture img{
  width:100%;
}

.head{
  font-size:12px;
  position:absolute;
  top:-1%;
  left:44%;
}

@media(min-width:768px){
  .head{
    font-size:16px;
    position:absolute;
    top:20px;
    left:255px;
  }
}

.hoho{
  font-size:12px;
  position:absolute;
  top:5%;
  left:48%;
}

@media(min-width:768px){
  .hoho{
    font-size:16px;
    top:44px;
    left:271px;
  }
}

.faceline{
  font-size:12px;
  position:absolute;
  top:10%;
  left:36%;
}

@media(min-width:768px){
  .faceline{
    font-size:16px;
    top:69px;
    left:224px;
  }
}

.noseunder{
  font-size:12px;
  position:absolute;
  top:15%;
  left:46%;
}

@media(min-width:768px){
  .noseunder{
    font-size:16px;
    top:93px;
    left:264px;
  }
}

.ago{
  font-size:12px;
  position:absolute;
  top:20%;
  left:46%;
}

@media(min-width:768px){
  .ago{
    font-size:16px;
    top:116px;
    left:263px;
  }
}

.waki{
  font-size:12px;
  position:absolute;
  top:30%;
  left:46%;
}

@media(min-width:768px){
  .waki{
    font-size:16px;
    top:161px;
    left:265px;
  }
}

.hesomawari{
  font-size:12px;
  position:absolute;
  top:35%;
  left:42%;
}

@media(min-width:768px){
  .hesomawari{
    font-size:16px;
    top:184px;
    left:249px;
  }
}

.teyubiko{
  font-size:12px;
  position:absolute;
  top:40%;
  left:44%;
}

@media(min-width:768px){
  .teyubiko{
  font-size:16px;
  top:274px;
  left:275px;
  }
}

.vline{
  font-size:12px;
  position:absolute;
  top:61%;
  left:43%;
}

@media(min-width:768px){
  .vline{
    font-size:16px;
    top:355px;
    left:237px;
  }
}

.iline{
  font-size:12px;
  position:absolute;
  top:66%;
  left:43%;
}

@media(min-width:768px){
  .iline{
    font-size:16px;
    top:378px;
    left:241px;
  }
}

.hiza{
  font-size:12px;
  position:absolute;
  top:77%;
  left:46%;
}

@media(min-width:768px){
  .hiza{
    font-size:16px;
    top:403px;
    left:249px;
  }
}

.ashiyubiko{
  font-size:12px;
  position:absolute;
  top:82%;
  left:44%;
}

@media(min-width:768px){
  .ashiyubiko{
    font-size:16px;
    top:564px;
    left:221px;
  }
}

.unaji{
  font-size:12px;
  position:absolute;
  top:12%;
  right:2%;
}

@media(min-width:768px){
  .unaji{
    font-size:16px;
    top:77px;
    left:483px;
  }
}

.back{
  font-size:12px;
  position:absolute;
  top:25%;
  right:1%;
}

@media(min-width:768px){
  .back{
    font-size:16px;
    top:151px;
    left:530px;
  }
}

.hip{
  font-size:12px;
  position:absolute;
  top:60%;
  right:1%;
} 

@media(min-width:768px){
  .hip{
    font-size:16px;
    top:242px;
    left:550px;
  } 
}

.oline{
  font-size:12px;
  position:absolute;
  top:65%;
  right:0%;
}

@media(min-width:768px){
  .oline{
    font-size:16px;
    top:266px;
    left:544px;
  }
}

.point__body--under--half--part--body--title{
  font-size:23px;
  font-weight:600;
  text-align:center;
  padding-top:48px;
}

@media(min-width:768px){
  .point__body--under--half--part--body--title{
    font-size:24px;
    padding-top:55px;
  }
}

@media(min-width:768px){
  .point__body--under--half--part--body--body{
    display:flex;
  }
}

.point__body--under--half--part--body--body img{
  width:100%;
}

.point__body--under--half--part--body--body--first--line{
  display:flex;
  justify-content:center;
  column-gap:12px;
  margin-top:31px;
  margin-right:auto;
  margin-left:auto;
}

@media(min-width:768px){
  .point__body--under--half--part--body--body--first--line{
    margin-top:31px;
    margin-right:6px;
    margin-left:auto;
  }
}

.point__body--under--half--part--body--body--second--line{
  display:flex;
  justify-content:center;
  column-gap:12px;
  margin-top:22px;
  margin-bottom:22px;
  margin-right:auto;
  margin-left:auto;
}

@media(min-width:768px){
  .point__body--under--half--part--body--body--second--line{
    margin-top:31px;
    margin-bottom:38px;
    margin-right:auto;
    margin-left:6px;
  }
}

.point__body--under--half--part--body--body--first--line--left--text{
  font-size:14px;
  text-align:center;
  font-weight:600;
  color:#fa7da3;
  padding-top:6px;
  line-height:1;
}

.point__body--under--half--part--body--body--first--line--center--text{
  font-size:14px;
  text-align:center;
  font-weight:600;
  color:#fa7da3;
  padding-top:6px;
  line-height:1;
}

.point__body--under--half--part--body--body--first--line--right--text{
  font-size:14px;
  text-align:center;
  font-weight:600;
  color:#fa7da3;
  padding-top:6px;
  line-height:1;
}

.point__body--under--half--part--body--body--second--line--left--text{
  font-size:14px;
  text-align:center;
  font-weight:600;
  color:#fa7da3;
  padding-top:6px;
  line-height:1;
}

.point__body--under--half--part--body--body--second--line--center--text{
  font-size:14px;
  text-align:center;
  font-weight:600;
  color:#fa7da3;
  padding-top:6px;
  line-height:1;
}

.point__body--under--half--part--body--body--second--line--right--text{
  font-size:14px;
  text-align:center;
  font-weight:600;
  color:#fa7da3;
  padding-top:6px;
  line-height:1;
}

.point__third{
  padding-bottom:30px;
}

@media(min-width:768px){
  .point__third{
    padding-bottom:61px;
  }
}

.point__third  .point__body--above--half--container{
  margin-top:30px;
}

@media(min-width:768px){
  .point__third  .point__body--above--half--container{
    margin-top:49px;
  }
}

.point__third  .point__body--under--half--text{
  letter-spacing:0;
  padding-left:0px;
  padding-right:7px;
}

@media(min-width:768px){
  .point__third  .point__body--under--half--text{
    padding-left:21px;
  }
}


.point__third  .point__body--under--half--container{
  padding-left:20px;
  height:75px;
}

@media(min-width:768px){
  .point__third  .point__body--under--half--container{
    padding-left:20px;
    padding-top:25px;
    height:87px;
  }
}

.button-list__second .button-list__container{
  margin-top:22px;
}

@media(min-width:768px){
  .button-list__second .button-list__container{
    margin-top:51px;
  }
}

@media(min-width:768px){
  .course .point__title{
  padding-top:36px;
  }
}

.course__container{
  margin-top:12px;
  max-width:390px;
  margin-left:auto;
  margin-right:auto;
} 

@media(min-width:768px){
  .course__container{
    margin-bottom:37px;
  }
} 

@media(min-width:768px){
  .course .point__title--first--line--text{
    font-size:24px;
    padding-top:4px;
    padding-left:4px;
  }
}

.course .point__title--second--line{
  margin-top:4px;
  padding-left:1px;
  column-gap:5px;
}

@media(min-width:768px){
  .course .point__title--second--line{
    margin-top:5px;
    padding-left:0px;
    column-gap:11px;
  }
}

.course .point__title--second--line--text{
  padding-top:5px;
} 

@media(min-width:768px){
  .course .point__title--second--line--text{
    padding-top:9px;
  }
}

.course__body--above--half--container{
  background-color:#fdf0f5;
  border-radius:10px 10px 0 0;
  border: solid 1px #fa7da3;
  margin-right:20px;
  margin-left:20px;
  height: 46px;
  display:flex;
  justify-content: center;
  color:#fff;
  margin-top:24px;
  padding-top:5px;
}

@media(min-width:768px){
  .course__body--above--half--container{
    margin-right:0px;
    margin-left:0px;
    height: 60px;
    width:350px;
    margin-top:14px;
    padding-top:8px;
  }
}

.course__body--above--half--center{
  font-size:18px;
  font-weight:400;
  color:#fa7da3;
}

@media(min-width:768px){
  .course__body--above--half--center{
    font-size:28px;
  }
}

.course__body--under--half--container{
  border-radius:0 0 10px 10px;
  background-color:#fff;
  border-radius:0 0 10px 10px;
  margin-right:20px;
  margin-left:20px;
  border:solid 1px #fa7da3;
  text-align:left;
  height:294px;
  line-height:1;
  padding-left:21px;
  padding-right:18px;
  padding-top:11px;
}

@media(min-width:768px){
  .course__body--under--half--container{
    height:304px;
    padding-left:18px;
    padding-right:18px;
    padding-top:10px;
    width:350px;
    margin-right:0px;
    margin-left:0px;
  }
}

.course__body--under--half--container img{
  width:100%;
}

.course__body--under--half--text{
  font-size:14px;
  letter-spacing:0.01rem;
  line-height:1.55;
}

@media(min-width:768px){
  .course__body--under--half--text{
    font-size:18px;
    letter-spacing:0;
    line-height:1.55;
  }
}

.course__body--under--half--body{
  margin-top:11px;
}

.course__second .course__body--above--half--container{
  height:46px;
  margin-top:30px;
  padding-top:8px;
}

@media(min-width:768px){
  .course__second .course__body--above--half--container{
    height:60px;
    margin-top:15px;
    padding-top:8px;
  }
}

.course__second .course__body--under--half--container{
  padding-top:13px;
  margin-bottom:22px;
  padding-right:17px;
}

@media(min-width:768px){
  .course__second .course__body--under--half--container{
    padding-top:9px;
    padding-right:18px;
    padding-left:22px;
  }
}

.course__second .course__body--under--half--text{
  letter-spacing:0;
}

@media(min-width:768px){
  .course__all{
    display:flex;
    justify-content: center;
    column-gap:28px;
  }
}

.voice{
  background-color:#fdf0f5;
}

.voice__container{
  max-width:390px;
  padding-top:22px;
  margin-right:auto;
  margin-left:auto;
}

@media(min-width:768px){
  .voice__container{
    max-width:982px;
    padding-top:22px;
  }
}

.voice__title{
  display:flex;
  justify-content: center;
  line-height:1;
  margin-top:5px;
  letter-spacing: 0.08rem;
  column-gap:13px;
  padding-left:1px;
}

@media(min-width:768px){
  .voice__title{
    margin-top:21px;
    letter-spacing: 0.04rem;
    padding-left:0px;
    column-gap:23px;
  }
}

.voice__title--text{
  font-size:32px;
  color:#fa7da3;
  font-weight:700;
  padding-top:7px;
}

@media(min-width:768px){
  .voice__title--text{
    font-size:42px;
    padding-top:9px;
  }
}

.cover__container{
  display:flex;
  justify-content: center;
  margin-top:-14px;
  overflow-x: hidden;
}

@media(min-width:768px){
  .cover__container{
    margin-bottom:38px;
  }
}

.cover__pickup--image {
  max-width: 6.875rem;
}

@media (min-width: 768px) {
  .cover__pickup--image {
    max-width: 8.5625rem;
  }
}

.cover__catch {
  font-weight: normal;
  font-size: 16px;
  color:#fa7da3;
  line-height: 1;
  text-align:center;
  padding-top:14px;
  padding-right:20px;
}

@media(min-width:768px) and (max-width:1200px){
  .cover__catch{
    font-size:12px;
    padding-top:2px;
    padding-right:0px;
  }
}

@media (min-width: 1200px) {
  .cover__catch {
    font-size: 16px;
    margin-bottom: 0.5rem;
    padding-right:20px;
  }
}

.cover__catch--text{
  padding-left:6px;
}

.cover__category,
.cover-date {
  font-size: 14px;
}

@media(min-width:768px) and (max-width:1200px){
  .cover__category,
  .cover-date {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  .cover__category,
  .cover-date {
    font-size: 14px;
  }
}

.cover__category {
  margin-left:20px;
  margin-right:15px;
  margin-top:8px;
  margin-bottom:0px;
  line-height:1.5;
  text-align:left;
}

@media(min-width:768px) and (max-width:1200px){
  .cover__category{
    margin-left:0px;
    margin-right:0px;
  }
}

@media(min-width:1200px){
  .cover__category{
    margin-left:17px;
    margin-right:16px;
    margin-top:6px;
    margin-bottom:37px;
    line-height:1.5;
  }
}

.cover-date {
  display: inline-block;
  margin-bottom: 1.1rem;
}

@media (min-width: 768px) {
  .cover-date {
    margin-bottom: 0.95rem;
  }
}

.slick-prev{
  left:0px;
}

.slick-next{
  right:0px;
}


@media (min-width: 768px) {
  .slick-arrow {
    top: calc((100% - 82px) / 2);
    height:48px;
    width:48px;
  }
} 

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 19px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: 49px;
  }
}

.slick-dots li {
  width: 15px;
  height: 15px;
  margin: 0;
}

.slick-dots li button {
  width: 15px;
  height: 15px;
  padding: 0;
  border: 1.5px solid #ffd2d2;
  background-color:#ffd2d2;
  border-radius: 50%;
}

.slick-dots li button::before {
  width: 15px;
  height: 15px;
  line-height: normal;
  border-radius: 50%;
  opacity: 0;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #fa7da3;
  background-color: #fa7da3;
  opacity: 1;
}

.slick-slide img{
  margin-left:0px;
  height:114px;
  width:86px;
  margin-top:7px;
}

@media(min-width:768px) and (max-width:1200px){
  .slick-slide img{
    margin-left:0px;
  }
}

@media(min-width:1200px){
  .slick-slide img{
    margin-left:4px;
    margin-top:6px;
  }
}

.cover-slick{
  width:390px;
}

@media(min-width:768px) and (max-width:1200px){
  .cover-slick{
    width:720px;
    max-width:1156px;
  }
}

@media(min-width:1200px){
  .cover-slick{
    width:1000px;
    max-width:1000px;
  }
}

.cover-slick--item{
  margin-top:33px;
  margin-bottom:55px;
  width:280px;
  margin-left:auto;
  margin-right:auto;
  background-color:#fdf0f5;
}

@media(min-width:768px){
  .cover-slick--item{
    margin-top:48px;
    margin-bottom:84px;
  }
}

.cover-scroll {
  position: absolute;
  right: 1.25rem;
  bottom: -2.8rem;
}

@media (min-width: 768px) {
  .cover-scroll {
    right: 2rem;
    bottom: -3.3rem;
  }
}

.cover-scroll-image {
  max-height:8rem;
}

@media (min-width: 768px) {
  .cover-scroll-image {
    max-height: 10rem;
  }
}

.slick-slide{
  margin-right:0px;
  margin-left:0px;
}

@media(min-width:768px) and (max-width:1200px){
  .slick-slide{
    margin-right:2px;
    margin-left:2px;
  }
}

@media(min-width:1200px){
  .slick-slide{
    margin-right:4px;
    margin-left:4px;
  }
}

.cover__body--above--half--container{
  background-color:#fa7da3;
  border-radius:10px 10px 0 0;
  margin-right:auto;
  margin-left:auto;
  height: 46px;
  width:310px;
}

@media(min-width:768px) and (max-width:1200px){
  .cover__body--above--half--container{
    width:230px;
  }
}

@media(min-width:1200px){
  .cover__body--above--half--container{
    width:310px;
  }
}

.cover__body--under--half--container{
  border-radius:0 0 10px 10px;
  display:flex;
  background-color:#fff;
  margin-right:auto;
  margin-left:auto;
  border:solid 1px #fa7da3;
  text-align:center;
  height:142px;
  line-height:1;
  padding-left:14px;
  padding-top:6px;
  width:310px;
}

@media(min-width:768px) and (max-width:1200px){
  .cover__body--under--half--container{
    width:230px;
  }
}

@media(min-width:1200px){
  .cover__body--under--half--container{
    width:310px;
  }
}

.cover__body--above--half--text{
  color:#fff;
  text-align:center;
  font-size:18px;
  padding-top:7px;
}

.footer__container{
  background-color:#fa7da3;
  margin-top:43px;
}

@media(min-width:768px){
  .footer__container{
    margin-top:67px;
  }
}

.footer__body{
  height:39px;
  width:73px;
  margin-right:auto;
  margin-left:auto;
  padding-top:14px;
  padding-bottom:50px;
}

@media(min-width:768px){
  .footer__body{
    height:79px;
    width:145px;
    padding-top:24px;
    padding-bottom:101px;
  }
}