@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif,'Poppins';
  line-height: 1.75;
  color:#333333;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}


.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  
  @media (min-width: 768px) {
    .header {
      top: .25rem;
      max-width: 75rem;
      margin: auto;
    }
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 4.375rem;
    margin-left:14px;
    padding-bottom:3px;
    background-color: #fff;
    line-height:1; 
    }

    @media (min-width: 768px) {
        .header__logo {
          width:18.6vw;
          margin-left: 19px;
          height:105px;
        }
      }


  .hamburger-button {
    width: 56px;
    height: 64px;
    font-size: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000;
  }

  .header__logo img {
    width: 100%;
    height: auto;
  }
  
  @media (min-width: 768px) {
    .hamburger-button {
      display: none;
    }
  }
  
  .hamburger-button i {
    line-height: 0;
  }
  
  @media (max-width: 767.9px) {
    .hamburger-menu {
      position: fixed;
      top: 62px;
      left: 0;
      width: 100%;
      /* height: calc(100vh - 5rem); */
      background-color: #fff;
      transition: all 0.6s;
      transform: translateX(100%);
    }
  }

  .hamburger-menu-active {
    transform: translateX(0);
  }

  @media (max-width: 767px) {
    .hamburger-menu__list {
      display: table;
      width: 100vw;
      font-size: 1.125rem;
      border-top: 0.0625rem solid #000;
      background-color:#fff;
    }
  }
  
  @media (min-width: 768px) {
    .header-nav__list {
      column-gap:2.6vw;
      height: 100%;
      padding-right: 16px;
      line-height: 1;
      display:flex;
      align-items: center;
      font-size:16px;
      font-weight:700;
      padding-top:0px;
    }
  }
  
  @media(min-width:768px) and (max-width:1200px){
    .header-nav__list{
      font-size:12px;
    }
  }
 
  @media (max-width: 767px) {
    .hamburger-menu__list a {
      display: flex;
      align-items: center;
      padding: 18px 14px;
      line-height: 1;
      border-bottom: 0.0625rem solid #fff;
      background-color:#168352;
      color:#fff;
      display:none;
    }
}

  .header__button {
    margin-top:0px;
    background-color:#168352;
    border-radius:24px;
    margin-left:4%;
    margin-right:4%;
    padding-top:9px;
    padding-bottom:29px;
  }
  
  .header .header__button{
    margin-bottom:31px;
  }

  @media (min-width: 768px){
    .header .header__button{
      margin-top:2px;
      margin-bottom:0px;
      display:none;
    }
  }

  .header__button a{
    text-align:center;
    color:#fff;
  }

  @media (min-width: 768px){
    .header__button {
      margin-top:5px;
    }
  }

  @media(min-width:768px){
  .hamburger-menu__list .bi--arrow--right--short{
    display:none;
  }
  }

  .header__button__list{
    display:block;
    position:relative;
    width:75.3%;
    height:69px;
    border-radius: 38px;
    padding-top:11px;
    padding-left:1px;
    font-size:20px;
    font-weight:700;
    letter-spacing:-0.05rem;
    color:#fff;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
  }

  @media(min-width:768px){
    .header__button__list{
    height:73px;
    }
  }




  .header__button .header__button__list{
    width:350px;
    /* background-color:#168352; */
    color:#fff;
    height:57px;
    text-align:center;
    display:block;
    font-size:18px;
    letter-spacing:0;
    padding-top:22px;
  }

  @media (min-width: 768px){
    .header__button .header__button__list{
    width:278px;
    background-color:#005BAC;
    color:#fff;
    height:64px;
    text-align:center;
    display:block;
    margin-left:1px;
    font-size:20px;
    letter-spacing:0;
    padding-top:22px;
    }
  }
  
  .main-visual__container{
    margin-top:72px;
    margin-left:16px;
    margin-right:16px;
  }

  @media(min-width:768px){
    .main-visual__container{
      max-width:1178px;
      margin-left:auto;
      margin-right:auto;
      margin-top:151px;
    }
  }

  @media(min-width:768px){
  .main-visual__text{
    display:flex;
    justify-content: space-between;
  }
}

  .main-visual__title p{
    font-size:28px;
    font-weight:700;
  }

  @media(min-width:768px){
    .main-visual__title p{
      font-size:40px;
    }
  }

  .main-visual__body{
    margin-top:15px;
  }

  @media(min-width:768px){
    .main-visual__body{
      width:673px;
      margin-top:11px;
    }
  }

  .main-visual__body p{
    font-size:15px;
    font-weight:400;
  }

  @media(min-width:768px){
    .main-visual__body p{
    padding-right:32px;
    }
  }

  .main-visual__body span{
  display:inline-block;
  }

  .main-visual__photo{
    margin-top:26px;
  }

  @media(min-width:768px){
    .main-visual__photo{
      margin-top:60px;
    }
  }

  .main-visual__body span{
    display:inline-block;
  }

  @media(min-width:768px){
  .main-visual__title{
    width:716px;
    padding-left:37px;
  }
}


.about__title{
  margin-top:47px;
  text-align:center;
  font-family:"Montserrat";
  font-weight:600;
  color:#168352;
}

@media(min-width:768px){
  .about__title{
    font-size:20px;
    margin-top:53px;
  }
}

.about__text{
  font-size:20px;
  font-weight:700;
  line-height:1;
  text-align:center;
  margin-top:3px;
  margin-bottom:24px;
}

@media(min-width:768px){
  .about__text{
    font-size:28px;
    margin-top:7px;
  }
}

@media(max-width:767.5px){
  .about__body{
    margin-top:0;
    background-image: url('../image/about_sp_01.png');
    background-size: cover;
    aspect-ratio:390/545;
    padding-top:32px;
    
  }
}

@media(min-width:768px){
  .about__body{
    display:flex;
    justify-content: center;
    column-gap:113px;
    margin-left:auto;
    margin-right:auto;
  }
}

.about__body__container{
  background-color:#fff;
  margin-left:16px;
  margin-right:16px;
  border-radius:32px;
}

@media(min-width:768px){
  .about__body__container{
    max-width:500px;
  }
}

@media(min-width:768px){
  .about__body__container--first-text span{
    display:inline-block;
    width:30px;
  }
}


.about__body__container--first-text{
  font-size:18px;
  font-weight:700;
  padding-left:26px;
  padding-top:16px;
  padding-right:26.5px;
}

@media(min-width:768px){
  .about__body__container--first-text{
    font-size:20px;
    padding-left:67px;
    padding-top:109px;
    padding-right:26.5px;
  }
}

.about__body__container--second-text{
  padding-left:24px;
  padding-right:24px;
  padding-top:6px;
  letter-spacing:-0.06rem;
  line-height:1.65;
  padding-bottom:16px;
}

@media(min-width:768px){
  .about__body__container--second-text{
    padding-left:66px;
    padding-right:24px;
    padding-top:25px;
    letter-spacing:-0.06rem;
    line-height:1.65;
    padding-bottom:16px;
  }
}

@media(min-width:768px){
  .about__body__photo{
    margin-top:0;
    background-image: url('../image/about_pc_01.png');
    background-size: cover;
    aspect-ratio:390/570;
    width:390px;
    height:570px;
    padding-top:32px;
    margin-top:11px;
    margin-right:99px;
  }
}

.feature{
  background-color:#f3f9f6;
}

.feature__title{
  text-align:center;
  font-weight:600;
  font-size:16px;
  color:#168352;
  font-family:"Montserrat";
  margin-top:48px;
}

@media(min-width:768px){
  .feature__title{
    font-size:20px;
    padding-top:53px;
  }
}

.feature__text{
  text-align:center;
  font-weight:700;
  font-size:20px;
  margin-top:-5px;
}

@media(min-width:768px){
  .feature__text{
    font-size:28px;
    margin-top:-1px;
  }
}

.feature__container{
  margin-right:auto;
  margin-left:auto;
}

@media(min-width:768px){
  .feature__container{
    margin-top:63px;
  }
}

@media(min-width:768px){
  .feature__body{
    display:flex;
    justify-content: center;
  }
}

.feature__body--first{
  margin-top:16px;
}

@media(min-width:768px){
  .feature__body--first{
    width:400px;
    margin-top:22px;
  }
}

.feature__top-half{
  margin-right:16px;
  margin-left:16px;
}

.feature__under-half{
  border-radius:0 0 24px 24px;
  margin-left:16px;
  margin-right:16px;
  font-size:18px;
  font-weight:700;
  padding-left:16px;
  padding-right:16px;
  padding-top:12px;
  background-color:#fff;
  padding-bottom:14px;
}

@media(min-width:768px){
  .feature__under-half{
    padding-left:21px;
    padding-right:25px;
    padding-bottom:14px;
    letter-spacing:0.057rem;
  }
}

.feature__body--second{
  margin-top:19px;
}

@media(min-width:768px){
  .feature__body--second{
    width:400px;
  }
}

.feature__body--third{
  margin-top:19px;
  padding-bottom:55px;
}

@media(min-width:768px){
  .feature__body--third{
    width:400px;
  }
}

.service__container{
  margin-bottom:58px;
}

@media(min-width:768px){
  .service__container{
    margin-bottom:63px;
  }
}

.service__title{
  text-align:center;
  font-weight:600;
  font-size:16px;
  color:#168352;
  font-family:"Montserrat";
  margin-top:50px;
  letter-spacing:0.04rem;
}

@media(min-width:768px){
  .service__title{
    font-size:20px;
    margin-top:72px;
  }
}

.service__text{
  text-align:center;
  font-weight:700;
  font-size:20px;
  margin-top:-5px;
}

@media(min-width:768px){
  .service__text{
    font-size:28px;
    margin-top:-5px;
  }
}

@media(min-width:768px){
  .service__body--above{
    display:flex;
    justify-content:center;
    column-gap:15px;
  }
}

.service-list--above{
  background-color:#168352;
  margin-left:16px;
  margin-right:16px;
  height:140px;
  border-radius:24px;
  display:flex;
  justify-content: center;
  column-gap:17px;
  align-items:center;
  margin-top:18px;
}

@media(min-width:768px){
  .service-list--above{
    margin-top:25px;
    height:180px;
    column-gap:26px;
  }
}

@media(min-width:768px){
  .service-list--above{
    width:525px;
  }
}

.service-list__text--first{
  color:#fff;
  font-size:18px;
  font-weight:700;
  padding-right:29px;
}

@media(min-width:768px){
  .service-list__text--first{
    font-size:24px;
    padding-right:82px;
  }
}

.service-list__text--second{
  color:#fff;
  font-size:18px;
  font-weight:700;
  padding-right:47px;
}

@media(min-width:768px){
  .service-list__text--second{
    font-size:24px;
    padding-right:82px;
    width:300px;
  }
}

.service-list__text--third{
  color:#fff;
  font-size:18px;
  font-weight:700;
  width:194px;
  padding-right:7px;
}

@media(min-width:768px){
  .service-list__text--third{
    color:#fff;
    font-size:20px;
    font-weight:700;
    width:164px;
    padding-right:17px;
  }
  
}

@media(min-width:768px){
  .service__body--under{
    display:flex;
    justify-content: center;
    column-gap:18px;
    margin-top:18px;
  }
}

.service-list--under{
  background-color:#168352;
  margin-left:16px;
  margin-right:16px;
  height:140px;
  border-radius:24px;
  display:flex;
  justify-content: center;
  column-gap:17px;
  align-items:center;
  margin-top:20px;
}

@media(min-width:768px){
  .service-list--under{
    width:330px;
    height:150px;
    margin-top:22px;
  }
}

.service-list__text--fourth{
  color:#fff;
  font-size:18px;
  font-weight:700;
  padding-right:5px;
  width:189px;
}

@media(min-width:768px){
    .service-list__text--fourth{
      color:#fff;
      font-size:20px;
      font-weight:700;
      width:157px;
      padding-right:17px;
    }
  }


.service-list__text--fifth{
  color:#fff;
  font-size:18px;
  font-weight:700;
  padding-right:2px;
  width:189px;
}

@media(min-width:768px){
  .service-list__text--fifth{
    letter-spacing:0.03rem;
    padding-right:4px;
    width:140px;
  }
}

.case{
  background-color:#f3f9f6;
}

.case__container{
  margin-left:auto;
  margin-right:auto;
  max-width:390px;
}

@media(min-width:768px){
  .case__container{
    max-width:1168px;
  }
}

.case__title{
  margin-top:47px;
  padding-top:46px;
  text-align:center;
  font-family:"Montserrat";
  font-weight:600;
  color:#168352;
}

@media(min-width:768px){
  .case__title{
    font-size:20px;
    margin-top:53px;
    padding-top:56px;
  }
}

.case__text{
  font-size:20px;
  font-weight:700;
  line-height:1;
  text-align:center;
  margin-top:3px;
  margin-bottom:24px;
}


@media(min-width:768px){
  .case__text{
    font-size:28px;
    margin-top:5px;
  }
}

.case__body{
  padding-bottom:49px;
}

@media(min-width:768px){
  .case__body{
    display:flex;
    justify-content: center;
    column-gap:30px;
    padding-bottom:62px;
  }
}

.case-list__photo{
  margin-left:16px;
  margin-right:16px;
}

@media(min-width:768px){
  .case-list__photo{
    margin-left:0px;
    margin-right:0px;
  }
}

.case-list__text{
  font-size:18px;
  font-weight:700;
  padding-left:18px;
  padding-right:18px;
  padding-top:7px;
  letter-spacing:0.01rem;
  color:#09947b;
}

@media(min-width:768px){
  .case-list__text{
    width:369px;
    padding-left:2px;
    padding-right:2px;
    letter-spacing:0.06rem;
  }
}

@media(min-width:768px){
  .case-list--first{
    margin-top:12px;
  }
}

.case-list--second{
  margin-top:28px;
}

@media(min-width:768px){
  .case-list--second{
    margin-top:12px;
  }
}

.case-list--third{
  margin-top:26px;
}

@media(min-width:768px){
  .case-list--third{
    margin-top:12px;
  }
}

.news__title{
  margin-top:47px;
  padding-top:2px;
  text-align:center;
  font-family:"Montserrat";
  font-weight:600;
  color:#168352;
}

@media(min-width:768px){
  .news__title{
    font-size:20px;
    margin-top:53px;
    padding-top:4px;
  }
}

.news__text{
  text-align:center;
  font-weight:700;
  font-size:20px;
  margin-top:-5px;
  margin-bottom:15px;
}

@media(min-width:768px){
  .news__text{
    font-size:28px;
    margin-top:-5px;
    margin-bottom:22px;
  }
}

.news__container{
  margin-left:15px;
  margin-right:16px;
}

@media(min-width:768px){
  .news__container{
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
  }
}

.news-list {
  border-top: .0625rem solid #000;
}
.news-list li {
  padding-left:0px;
  padding-right:0px;
  padding-top:14px;
  padding-bottom:10px; 
  border-bottom: .0625rem solid #473221;
}

@media(min-width:768px){
  .news-list li{
    padding-bottom:16.5px;
  }
}

.news-badge {
  display: inline-block;
  width: 134px;
  padding: .35rem 0 .5rem;
  color: #fff;
  line-height: 1;
  text-align: center;
  background-color: #473221;
  border-radius: .3125rem;
  font-size:13px;
}

.news-date {
  display: inline-block;
  width: 90px;
  font-size:15px;
}

@media(min-width:768px){
  .news-date{
  letter-spacing:-0.04rem;
  width:86px;
  }
}

.news-text {
  display: block;
  margin-top: 9px;
  font-size:15px;
  font-weight:700;
  color:#168352;
  padding-left:1px;
}

@media (min-width: 1200px) {
  .news-text {
    display: inline-block;
    margin-top: 0;
    margin-left: 19px;
  }
}

.news__button{
  border-radius:33px;
  background-color:#168352;
  margin-top:25px;
  width:300px;
  height:66px;
  margin-left:auto;
  margin-right:auto;
  color:#fff;
  text-align:center;
  padding-top:16px;
  font-size:18px;
  font-weight:700;
  margin-bottom:61px;
}

@media(min-width:768px){
  .news__button{
    margin-top:30px;
    margin-bottom:69px;
  }
}

.news__button{
	position:relative;
	top:0;
}
.news__button:hover{
	top:6px;
}

.footer{
  background-color:#168352;
}

.footer__body{
  display:flex;
  justify-content: center;
  padding-top:15px;
  padding-bottom:19px;
  color:#fff;
}

@media(min-width:768px){
  .footer__body{
    padding-top:28px;
    padding-bottom:19px;
  }
}

.footer__left{
  font-size:13px;
  width:120px;
  text-align:center;
  padding-top:8px;
}

@media(min-width:768px){
  .footer__left{
    font-size:15px;
    width: 140px;
  }
}

.footer__center{
  font-size:19px;
}

.footer__right{
  font-size:13px;
  width:120px;
  text-align:center;
  padding-top:8px;
}

@media(min-width:768px){
  .footer__right{
    font-size:15px;
    width: 140px;
  }
}


.spec-main-visual__container{
  margin-top:83px;
  margin-left:16px;
  margin-right:16px;
}

@media(min-width:768px){
  .spec-main-visual__container{
    max-width:1178px;
    margin-left:auto;
    margin-right:auto;
    margin-top:151px;
  }
}

.spec-main-visual__photo{
  margin-top:26px;
}

@media(min-width:768px){
  .spec-main-visual__photo{
    margin-top:60px;
  }
}

.price__container{
  
  margin-top:18px;
}

@media(min-width:768px){
  .price__container{
    background-color:#fff;
    margin-top:-77px;
    width:1180px;
    margin-left:auto;
    margin-right:auto;
  }
}

.price__title{
  font-size:30px;
  font-weight:bold;
  padding-left:17px;
}

@media(min-width:768px){
  .price__title{
    font-size:36px;
    padding-left:32px;
    background-color:#fff;
    z-index:1;
  }
}

.price__text{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-top:12px;
  padding-right:15px;
}

.price__text--arrow{
  margin-left:7px;
  margin-right:7px;
}

.price__text--arrow img{
  vertical-align: middle;
  
}

.price__text p{
  font-size:12px;
}

.gallery__container{
  margin-left:auto;
  margin-right:auto;
  max-width:358px;
}

@media(min-width:768px){
  .gallery__container{
    max-width:800px;
  }
}

.gallery__title{
  font-size:22px;
  font-weight:700;
  margin-top:22px;
}

@media(min-width:768px){
  .gallery__title{
    font-size:28px;
    font-weight:700;
    margin-top:72px;
  }
}

.gallery__line{
  display:flex;
  margin-top:5px;
}

@media(min-width:768px){
  .gallery__line{
    margin-top:18px;
  }
}

.gallery__line__green{
  width:50px;
  border-bottom: 3px solid #168352;
}

@media(min-width:768px){
  .gallery__line__green{
    width:100px;
    border-bottom: 3px solid #168352;
  }
}

.gallery__line__gray{
  width:308px;
  border-bottom: 3px solid #dddddd;
}

@media(min-width:768px){
  .gallery__line__gray{
    width:700px;
    border-bottom: 3px solid #dddddd;
  }
}

.gallery__photo{
  margin-top:25px;
}

@media(min-width:768px){
  .gallery__photo{
    margin-top:32px;
    height:500px;
    width:800px;
  }
}

/* Slickドット */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 1.25rem;
  display: flex;
  column-gap: 1.25rem;
  justify-content: center;
}

.slick-dots li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
}

.slick-dots li button {
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  border: 0.0625rem solid #fff;
  color:#000;
  background-color:#000;
  border-radius: 50%;
}

.slick-dots li button::before {
  width: 0.625rem;
  height: 0.625rem;
  line-height: normal;
  border-radius: 50%;
  background-color:#fff;
  /* opacity: 0; */
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #fff;
  background-color: #fff;
  opacity: 1;
}

.product__container{
  margin-left:auto;
  margin-right:auto;
  max-width:358px;
  margin-top:53px;
}

@media(min-width:768px){
  .product__container{
    max-width:800px;
    margin-top:58px;
  }
  
}

.product__title{
  font-size:22px;
  font-weight:700;
}

@media(min-width:768px){
  .product__title{
    font-size:28px;
  }
  
}

.product__line{
  display:flex;
  margin-top:5px;
  margin-bottom:24px;
}

@media(min-width:768px){
  .product__line{
    margin-top:18px;
    margin-bottom:33px;
  }
}

.product__line__green{
  width:50px;
  border-bottom: 3px solid #168352;
}

@media(min-width:768px){
  .product__line__green{
    width:100px;
    border-bottom: 3px solid #168352;
  }
}

.product__line__gray{
  width:308px;
  border-bottom: 3px solid #dddddd;
}

@media(min-width:768px){
  .product__line__gray{
    width:700px;
    border-bottom: 3px solid #dddddd;
  }
}

@media(min-width:768px){
  .product__body{
  display:flex;
  justify-content: center;
  column-gap:30px;
  }
}

@media(min-width:768px){
  .product-list__photo{
    width:246px;
  }
}

.product-list__text{
  font-size:18px;
  font-weight:700;
  margin-top:7px;
  margin-bottom:34px;
}

@media(min-width:768px){
  .product-list__text{
    margin-top:7px;
    margin-bottom:34px;
    width:246px;
  }
}

.product-list__text--third{
  font-size:18px;
  font-weight:700;
  margin-top:7px;
  margin-bottom:34px;
  padding-right:1px;
}

@media(min-width:768px){
  .product-list__text--third{
    margin-top:7px;
    margin-bottom:34px;
    padding-right:1px;
    width:246px;
  }
}

.product-list__text span{
  display:inline-block;
  width:18px;
}

.value__container{
  margin-left:auto;
  margin-right:auto;
  max-width:358px;
  margin-top:49px;
}

@media(min-width:768px){
  .value__container{
    margin-left:auto;
    margin-right:auto;
    max-width:800px;
    margin-top:18px;
  }
}

.value__title{
  font-size:22px;
  font-weight:700;
}

@media(min-width:768px){
  .value__title{
    font-size:28px;
  }
}

.value__line{
  display:flex;
  margin-top:5px;
  margin-bottom:20px;
}

@media(min-width:768px){
  .value__line{
    margin-top:18px;
    margin-bottom:28px;
  }
}

.value__line__green{
  width:50px;
  border-bottom: 3px solid #168352;
}

@media(min-width:768px){
  .value__line__green{
    width:100px;
    border-bottom: 3px solid #168352;
  }
}

.value__line__gray{
  width:308px;
  border-bottom: 3px solid #dddddd;
}

@media(min-width:768px){
  .value__line__gray{
    width:700px;
    border-bottom: 3px solid #dddddd;
  }
}

.value__text{
  display:flex;
  line-height:1;
}

.value__yen{
  font-size:31px;
}

.value__number{
  font-size:31px;
  font-weight:700;
  font-family:"Montserrat";
}

.value-tax{
  padding-left:14px;
  padding-top:13px;
}

.spec__container{
  margin-left:auto;
  margin-right:auto;
  max-width:358px;
  margin-top:56px;
}

@media(min-width:768px){
  .spec__container{
    max-width:800px;
    margin-top:60px;
  }
}

.spec__title{
  font-size:22px;
  font-weight:700;
}

@media(min-width:768px){
  .spec__title{
    font-size:28px;
  }
}

.spec__line{
  display:flex;
  margin-top:5px;
  margin-bottom:10px;
}

@media(min-width:768px){
  .spec__line{
    margin-top:17px;
    margin-bottom:10px;
  }
}

.spec__line__green{
  width:50px;
  border-bottom: 3px solid #168352;
}

@media(min-width:768px){
  .spec__line__green{
    width:100px;
  } 
}

.spec__line__gray{
  width:308px;
  border-bottom: 3px solid #dddddd;
}

@media(min-width:768px){
  .spec__line__gray{
    width:700px;
  }
}

.spec__body--title{
  display:flex;
  font-size:32px;
  margin-left:-15px;
}

@media(min-width:768px){
  .spec__body--title{
    display:flex;
    font-size:32px;
    margin-left:0px;
    padding-left:14px;
    padding-top:10px;
  }
}

.spec__body--title span{
  font-size:20px;
  font-weight:700;
  padding-top:11px;
}

@media(min-width:768px){
  .spec__body--title span{
    font-size:24px;
    font-weight:700;
    padding-top:11px;
    padding-left:2px;
  }
}

.spec__body{
  margin-top:6px;
}

@media(min-width:768px){
  .spec__body{
    margin-top:20px;
    padding-left:30px;
  }
}

@media(min-width:768px){
  .spec__body__line{
    display:flex;
  }
}

.spec__body__left{
  width:358px;
  background-color:#f5f5f5;
  height:39px;
  font-size:16px;
  font-weight:700;
  padding-top:5px;
  padding-left:20px;
  border:solid 1px #dddddd;
}

@media(min-width:768px){
  .spec__body__left{
    width:200px;
    height:63px;
    padding-top:17px;
    padding-left:20px;
    border:solid 1px #dddddd;
  }
}

.spec__body__right{
  width:358px;
  font-size:16px;
  height:39px;
  padding-top:5px;
  padding-left:20px;
  border:solid 1px #dddddd;
}

@media(min-width:768px){
  .spec__body__right{
    width:541px;
    height:63px;
    padding-top:17px;
    padding-left:22px;
    border:solid 1px #dddddd;
  }
}

.contact__container{
  background-image:url("../image/contact_sp_01.png");
  background-size: cover;
  aspect-ratio:390/360;
  margin-top:64px;
}

@media(min-width:768px){
  .contact__container{
    background-image:url("../image/contact_pc_01.jpg");
    background-size: cover;
    aspect-ratio:1400/450;
    margin-top:72px;
  }
}

.contact__body{
  padding-top:116px;
}

@media(min-width:768px){
  
.contact__body{
    padding-top:154px;
  }
}

.contact__button{
  border-radius:40px;
  margin-top:25px;
  width:358px;
  height:80px;
  margin-left:auto;
  margin-right:auto;
  color:#fff;
  text-align:center;
  padding-top:21px;
  font-weight:700;
  margin-bottom:61px;
  border:2px solid #fff;
  font-size:20px;
}

@media(min-width:768px){
  .contact__button{
    margin-top:30px;
    margin-bottom:69px;
  }
}

.footer__value-version{
  padding-bottom:13px;
}

@media(min-width:768px){
  .ask{
    position:relative;
  }
}

.ask__container{
  margin-top:18px;
}

@media(min-width:768px){
  .ask__container{
    background-color:#fff;
    margin-top:-77px;
    width:1180px;
    margin-left:auto;
    margin-right:auto;
  }
}

.ask__title{
  font-size:30px;
  font-weight:bold;
  padding-left:17px;
}

@media(min-width:768px){
  .ask__title{
    font-size:36px;
    top:-25px;
    width:316px;
    height:100px;
    background-color:#fff;
    z-index:1;
    position:absolute;
    padding-top:24px;
    padding-left:30px;
    border-radius:0 40px 0 0;
  }
}

.ask__text{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-top:12px;
  padding-right:15px;
}

@media(min-width:768px){
  .ask__text{
    position:absolute;
    top:91px;
    right:85px;

  }
}

.ask__text--arrow{
  margin-left:7px;
  margin-right:7px;
}

.ask__text--arrow img{
  vertical-align: middle;
  
}

.ask__text p{
  font-size:12px;
}

.faq__container{
  margin-top:1px;
}

@media(min-width:768px){
  .faq__container{
    margin-top:191px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
  }
}

.faqs{
  border-radius:16px;
  border:solid 1px #fff;
  border-radius:16px;
  border:1px solid #000;
  width:358px;
  margin-left:auto;
  margin-right:auto;
}

@media(min-width:768px){
  .faqs{
    width:800px;
  }
}

.faq--first{
  margin-top:33px;
}

.faq__above{
  display:flex;
}

.faq__above--left{
  font-size:24px;
  font-weight:700;
  font-family:"Montserrat";
  color:#168352;
  padding-top:13px;
  padding-left:23px;
}

@media(min-width:768px){
  .faq__above--left{
    font-size:24px;
    width:56px;
    padding-top:10px;
    padding-left:31px;
  }
}

@media(min-width:768px){
  .faq__above--text{
    font-size:18px;
    font-weight:700;
    padding-top:7px;
  }
}

.faq__above--center{
  width:242px;
  padding-left:17px;
}

@media(min-width:768px){
  .faq__above--center{
    width:calc(100% - 129px);
    padding-left:17px;
  }
}

.faq__above--box{
  width:100px;
  border-radius:4px;
  border:1px solid #168352;
  font-size:11px;
  margin-top:23px;
  height:24px;
  padding-left:10px;
}

.faq__above--box--second{
  width:100px;
  border-radius:4px;
  border:1px solid #168352;
  font-size:11px;
  margin-top:23px;
  height:24px;
  padding-left:17px;
  margin-left:7px;
}

.faq__above--right{
  font-size:27px;
  padding-left:19px;
  padding-top:9px;
}

.faq__box{
  display:flex;
}

.faq__under{
  padding-left:25px;
  padding-right:25px;
  padding-top:2px;
  padding-bottom:16px;
}

@media(min-width:768px){
  .faq__under{
    padding-left:32px;
    padding-right:32px;
    padding-top:17px;
    padding-bottom:17px;
}
}

@media(min-width:768px){
  .faq--first span{
    display:inline-block;
    width:11px;
  }
}

.faq--second span{
  display:inline-block;
  width:11px;
}

.faq--second{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--second{
    margin-top:26px;
  }
}

.faq--third{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--third{
    margin-top:26px;
  }
}

.faq--fourth{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--fourth{
    margin-top:26px;
  }
}

.faq--fifth{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--fifth{
    margin-top:26px;
  }
}

.faq--fifth .faq__above--box--second{
  margin-left:0px;
}

.faq--sixth{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--sixth{
    margin-top:26px;
  }
}

.faq--sixth .faq__above--box--second{
  margin-left:0px;
}

.faq--seventh .faq__above--box--second{
  margin-left:0px;
}

.faq--seventh span{
  display:inline-block;
  width:15px;
}

.faq--seventh{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--seventh{
    margin-top:26px;
  }
}

.faq--eighth{
  margin-top:26px;
}

@media(min-width:768px){
  .faq--eighth{
    margin-top:26px;
  }
}

.faq--nineth{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--nineth{
    margin-top:26px;
  }
}

.faq--nineth .faq__above--box--second{
  margin-left:0px;
}

.faq--nineth .faq__above--right{
  padding-top:12px;
}

.faq--tenth{
  margin-top:25px;
}

@media(min-width:768px){
  .faq--tenth{
    margin-top:26px;
  }
}

.faq--tenth  .faq__above--box{
  padding-left:16px;
}


.faq--eleventh{
  margin-top:25px;
  margin-bottom:170px;
}

@media(min-width:768px){
  .faq--eleventh{
    margin-top:26px;
    margin-bottom:75px;
  }
}

.faq--eleventh  .faq__under{
  padding-top:12px;
}