作成、編集、アップロードができなくなっています … 空き容量が不足しています。100 GB の保存容量を 1 か月間、￥250 ￥0 でご利用いただけます。
@charset "UTF-8";
/* ページ全体のスタイル
------------------------------------------ */
body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
  color: #333;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
/* 部品
------------------------------------------ */

/* 省略 */
/* ヘッダー
------------------------------------------ */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.75rem;
  padding: 0.812rem 1.25rem 1.187rem;
  background-color: rgb(238 156 112 / 80%);
}

/* ロゴ */
.header-logo {
  line-height: 1;
}

.header-logo img {
  max-width: 16.8125rem;
  vertical-align: baseline;
}


/* ハンバーガーボタン */
.hamburger-button {
  position: fixed;
  top: 1rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hamburger-button-bar {
  width: 1.5rem;
  height: 0.125rem;
  background-color: #fff;
}

.hamburger-button-bar:first-child {
  margin-bottom: 0.5rem;
}

.hamburger-button-title {
  font-size: 0.75rem;
  color: #fff;
}

/* 省略 */
/* ハンバーガーメニュー
------------------------------------------ */
@media (max-width: 767.9px) {
  .hamburger-menu {
    position: fixed;
    top: 3.75rem;
    left: 100%;
    width: 100%;
    height: calc(100vh - 3.75rem);
    padding: 2.45rem;
    background-color: rgb(255 241 234 / 95%);
    transition: all 0.6s;
    visibility: hidden;
  }
}

/* 開いている状態 */
.hamburger-menu-active {
  left: 0;
  visibility: visible;
}

/* 省略 */
/* ナビゲーション
------------------------------------------ */
/* レシピ、特集、ランキング */
.hamburger-nav-first-list-group {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1;
}

/* 検索、ログイン */
.hamburger-nav-second {
  padding-bottom: 2.8rem;
  margin-bottom: 2.35rem;
  border-bottom: 0.0625rem solid #999;
}

.hamburger-nav-second-list-group {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-align: center;
}

.hamburger-nav-second-list-group-icon {
  font-size: 1.5rem;
}

.hamburger-nav-second-list-group-text {
  display: block;
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

/* 会社概要、お問い合わせ、利用規約、プライバシーポリシー */
.hamburger-nav-third {
  margin-bottom: 1.55rem;
  line-height: 1;
}

.hamburger-nav-third li {
  margin-bottom: 1.25rem;
}

/* SNSリンク */
.hamburger-sns {
  display: flex;
  column-gap: 2.58rem;
  align-items: center;
  justify-content: center;
}

.hamburger-sns a {
  font-size: 2rem;
  color: #999;
}

/* 省略 */
/* ハンバーガーボタン */
.hamburger-button {
  /* 省略 */
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

/* ナビゲーション
------------------------------------------ */
/* 省略 */
.hamburger-sns a {
  /* 省略 */
}

/* PC表示のとき、ヘッダーナビ（会社概要、お問い合わせ、利用規約、プライバシーポリシー）、SNSリンクを非表示に */
@media (min-width: 768px) {
  .hamburger-nav-third,
  .hamburger-sns {
    display: none;
  }
}

/* ヘッダー
------------------------------------------ */
.header {
  /* 省略 */
}

@media (min-width: 768px) {
  .header {
    padding-top: 0.937rem;
    padding-bottom: 1.062rem;
  }

  .header a {
    color: #fff;
  }
}

/* 省略 */
/* ナビゲーション
------------------------------------------ */

/* 省略 */
/* PC表示のとき、ヘッダーナビ（会社概要、お問い合わせ、利用規約、プライバシーポリシー）、SNSリンクを非表示に */
@media (min-width: 768px) {
  .hamburger-nav-third,
  .hamburger-sns {
  /* 省略 */
  }
}

/* ヘッダーナビコンテナ */
@media (min-width: 768px) {
  .header-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

/* ナビゲーション
------------------------------------------ */
/* レシピ、特集、ランキング */
.hamburger-nav-first-list-group {
  /* 省略 */
}

@media (min-width: 768px) {
  .hamburger-nav-first-list-group {
    flex-direction: row;
    column-gap: 2.5rem;
    margin-bottom: 0;
    margin-left: 3.45rem;
    font-size: 1rem;
  }
}

/* 省略 */
.hamburger-nav-second {
  /* 省略 */
}

@media (min-width: 768px) {
  .hamburger-nav-second {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: initial;
  }
}

/* 省略 */
.hamburger-nav-second-list-group {
  /* 省略 */
}

@media (min-width: 768px) {
  .hamburger-nav-second-list-group {
    column-gap: 2.75rem;
    padding-right: 1.25rem;
  }
}

/* 省略 */
.hamburger-nav-second-list-group-icon {
  /* 省略 */
}

@media (min-width: 768px) {
  .hamburger-nav-second-list-group-icon {
    font-size: 1.25rem;
    line-height: 1;
  }
}

/* 省略 */
.hamburger-nav-second-list-group-text {
  /* 省略 */
}

@media (min-width: 768px) {
  .hamburger-nav-second-list-group-text {
    font-size: 0.75rem;
  }
}

/* 省略 */
/* カバー
------------------------------------------ */
.cover {
  position: relative;
}

@media (min-width: 768px) {
  .cover-slick-item img {
    width: 100%;
  }
}

/* ピックアップ */
.cover-pickup {
  position: absolute;
  bottom: 3.7rem;
  left: 2.5rem;
  color: #fff;
}

/* カバー
------------------------------------------ */
/* 省略 */
.cover-pickup-image {
  max-width: 6.875rem;
}

.cover-catch {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5;
}

.cover-category,
.cover-date {
  font-size: 0.75rem;
}

.cover-category {
  margin-right: 1.1rem;
}

.cover-date {
  display: inline-block;
  margin-bottom: 1.1rem;
}

/* 省略 */
/* 部品
------------------------------------------ */
/* ボタンの共通スタイル */
.button {
  display: block;
  max-width: 7.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.6rem;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  border-radius: 1.5rem;
}

/* 白色ボタン */
.button-white-ghost {
  color: #fff;
  border: 0.0625rem solid #fff;
}

.button-white-ghost:hover {
  background-color: rgb(255 255 255 / 30%);
}

/* カバー
------------------------------------------ */
/* 省略 */
/* Slick矢印 */
.slick-arrow {
  position: absolute;
  top: calc((100% - 60px) / 2);
  z-index: 1;
  cursor: pointer;
}

.prev-arrow {
  left: 1.25rem;
}

.next-arrow {
  right: 1.25rem;
}

/* Slickドット */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: 1.25rem;
  display: flex;
  column-gap: 1.25rem;
  justify-content: center;
}

.slick-dots li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0;
}

.slick-dots li button {
  width: 0.625rem;
  height: 0.625rem;
  padding: 0;
  border: 0.0625rem solid #fff;
  border-radius: 50%;
}

.slick-dots li button::before {
  width: 0.625rem;
  height: 0.625rem;
  line-height: normal;
  border-radius: 50%;
  opacity: 0;
}

.slick-dots li button:hover::before,
.slick-dots li.slick-active button::before {
  color: #fff;
  background-color: #fff;
  opacity: 1;
}

/* カバー
------------------------------------------ */
/* 省略 */
/* スクロール */
.cover-scroll {
  position: absolute;
  right: 1.25rem;
  bottom: -2.8rem;
}

.cover-scroll-image {
  max-height: 8rem;
}

/* ピックアップ */
.cover-pickup {
  /* 省略 */
}

@media (min-width: 768px) and (max-width: 889.9px) {
  .cover-pickup {
    bottom: 2.5rem;
    left: 5rem;
  }
}

@media (min-width: 890px) {
  .cover-pickup {
    bottom: 5rem;
    left: 5rem;
  }
}

/* 省略 */
.cover-pickup-image {
  /* 省略 */
}

@media (min-width: 768px) {
  .cover-pickup-image {
    max-width: 8.5625rem;
  }
}

/* 省略 */
.cover-catch {
  /* 省略 */
}

@media (min-width: 768px) {
  .cover-catch {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

/* 省略 */
.cover-category,
.cover-date {
  /* 省略 */
}

@media (min-width: 768px) {
  .cover-category,
  .cover-date {
    font-size: 1rem;
  }
}

/* 省略 */
.cover-date {
  /* 省略 */
}

@media (min-width: 768px) {
  .cover-date {
    margin-bottom: 0.95rem;
  }
}

/* 部品
------------------------------------------ */
/* ボタンの共通スタイル */
.button {
  /* 省略 */
}

@media (min-width: 768px) {
  .button {
    max-width: 10rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }
}

/* カバー
------------------------------------------ */
/* 省略 */
/* Slick矢印 */
.slick-arrow {
  /* 省略 */
}

@media (min-width: 768px) {
  .slick-arrow {
    top: calc((100% - 24px) / 2);
  }
}

/* 省略 */
.slick-dots {
  /* 省略 */
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: 2rem;
  }
}

/* カバー
------------------------------------------ */
/* 省略 */
/* スクロール */
.cover-scroll {
  /* 省略 */
}

@media (min-width: 768px) {
  .cover-scroll {
    right: 2rem;
    bottom: -3.3rem;
  }
}

/* 省略 */
.cover-scroll-image {
  /* 省略 */
}

@media (min-width: 768px) {
  .cover-scroll-image {
    max-height: 10rem;
  }
}

/* 省略 */
/* 新着レシピ
------------------------------------------ */
.new .section-title-en {
  max-width: 4rem;
}

/* 部品
------------------------------------------ */
/* 省略 */
/* コンテナ */
.container {
  max-width: 68.75rem;
  padding: 3.5rem 1.25rem 3.75rem;
  margin-right: auto;
  margin-left: auto;
}

/* タイトル */
.section-title {
  margin-bottom: 2.65rem;
  text-align: center;
}

/* 英語表記 */
.section-title-en {
  margin-bottom: 1rem;
}

/* 日本語表記 */
.section-title-jp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}

.section-title-jp::before,
.section-title-jp::after {
  width: 2.5rem;
  height: 0.5rem;
  margin-top: 0.65rem;
  content: "";
  border-top: solid 0.1rem #999;
}

.section-title-jp::before{
  margin-right: 1.35rem;
}

.section-title-jp::after {
  margin-left: 1.35rem;
}

/* 新着レシピ
------------------------------------------ */
/* 省略 */
/* レシピ */
.new-recipe {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.2rem;
  column-gap: 1.25rem;
  margin-bottom: 2.4rem;
}

.new-recipe-item {
  width: calc(50% - 0.625rem);
}

/* 新着レシピ
------------------------------------------ */
/* 省略 */
/* レシピ画像 */
.new-recipe-item-image {
  width: 100%;
  margin-bottom: 0.75rem;
}

/* レシピタイトル */
.new-recipe-item-title {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

/* レシピカテゴリ、日付 */
.new-recipe-item-bottom {
  display: flex;
  justify-content: space-between;
}

.new-recipe-item-category,
.new-recipe-item-date {
  font-size: 0.75rem;
}

.new-recipe-item-category {
  color: #ee9c70;
}

.new-recipe-item-date {
  color: #999;
}

/* 部品
------------------------------------------ */
/* 省略 */
.button-white-ghost:hover {
  /* 省略 */
}

/* ピンク色ボタン */
.button-pink-ghost {
  color: #ee9c70;
  border: 0.0625rem solid #ee9c70;
}

.button-pink-ghost:hover {
  background-color: rgb(238 156 112 / 30%);
}

/* 新着レシピ
------------------------------------------ */
/* 省略 */
/* ピンク色ボタン */
.new .button-pink-ghost {
  margin: auto;
}

/* 部品
------------------------------------------ */
/* 省略 */
/* コンテナ */
.container {
  /* 省略 */
}

@media (min-width: 768px) {
  .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* タイトル */
.section-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .section-title {
    margin-bottom: 2.5rem;
  }
}

/* 日本語表記 */
.section-title-jp {
  /* 省略 */
}

@media (min-width: 768px) {
  .section-title-jp {
    font-size: 2rem;
  }
}

/* 省略 */
.section-title-jp::after {
  /* 省略 */
}

@media (min-width: 768px) {
  .section-title-jp::before,
  .section-title-jp::after {
    border-top: solid 0.125rem #999;
    margin-top: 0.75rem;
  }
  .section-title-jp::before {
    margin-right: 1.25rem;
  }
  .section-title-jp::after{
    margin-left: 1.25rem;
  }
}

/* 省略 */
/* 新着レシピ
------------------------------------------ */
/* 省略 */
.new .section-title-en {
  /* 省略 */
}

@media (min-width: 768px) {
  .new .section-title-en {
    max-width: 5rem;
  }
}

@media (min-width: 768px) {
  .new .section-title{
    margin-bottom: 2.75rem;
  }
}

/* 省略 */
/* レシピ */
.new-recipe {
  /* 省略 */
}

@media (min-width: 768px) {
  .new-recipe {
    flex-wrap: nowrap;
    column-gap: 2.5rem;
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    margin-bottom: 2.35rem;
  }
}

/* 省略 */
.new-recipe-item {
  /* 省略 */
}

@media (min-width: 768px) {
  .new-recipe-item {
    width: calc(25% - 1.25rem);
  }
}

/* 省略 */
/* レシピ画像 */
.new-recipe-item-image {
  /* 省略 */
}

@media (min-width: 768px) {
  .new-recipe-item-image{
    margin-bottom: 0.6rem;
  }
}

/* 省略 */
/* レシピタイトル */
.new-recipe-item-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .new-recipe-item-title {
    font-size: 1rem;
  }
}

/* 省略 */
/* 特徴
------------------------------------------ */
.feature {
  color: #fff;
  background-image: url("../images/feature/feature_bg_sp.jpg");
  background-size: cover;
}

.feature .container{
  padding: 3.75rem 1.25rem;
}

/* 特徴
------------------------------------------ */
/* 省略 */
/* 画像エリア */
.feature-thumbnail {
  margin-bottom: 1rem;
}

/* Featureタイトル */
.feature-thumbnail-title {
  position: relative;
}

.feature-thumbnail-title-image {
  position: absolute;
  top: -1.5rem;
  left: -0.75rem;
  max-width: 10.9375rem;
}

/* メイン画像 */
.feature-thumbnail-image {
  width: 100%;
  height: 16.375rem;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem 0 0 #f4d4c3;
}

/* 特徴
------------------------------------------ */
/* 省略 */
/* タイトル */
.feature-body-title {
  margin-bottom: 0.85rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

/* テキスト */
.feature-body p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
}

/* ポイント */
.feature-body-point {
  margin-bottom: 0.65rem;
  line-height: 1;
  letter-spacing: 0.2rem;
}

/* 白色ボタン */
.feature .button-white-ghost {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

/* 特徴
------------------------------------------ */
.feature {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature {
    background-image: url("../images/feature/feature_bg_pc.jpg");
    background-position: left top;
  }
}

.feature .container {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature .container {
    display: flex;
    column-gap: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5.5rem;
  }
}

/* 画像エリア、テキストエリア */
@media (min-width: 768px) {
  .feature-thumbnail,
  .feature-body {
    width: calc((100% - 2.5rem) /2);
  }
}

/* 特徴
------------------------------------------ */
/* 省略 */
/* 画像エリア */
.feature-thumbnail {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature-thumbnail {
    margin-bottom: 0;
  }
}

/* 省略 */
.feature-thumbnail-title-image {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature-thumbnail-title-image {
    top: -1.6rem;
    max-width: 13.6875rem;
  }
}

/* 省略 */
/* メイン画像 */
.feature-thumbnail-image {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature-thumbnail-image {
    height: 23.9375rem;
    object-fit: initial;
    box-shadow: 1rem 1rem 0 0 #f4d4c3;
  }
}

/* 特徴
------------------------------------------ */
/* 省略 */
/* タイトル */
.feature-body-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature-body-title {
    margin-bottom: 0.7rem;
    font-size: 1.75rem;
    line-height: 1.75;
  }
}

/* テキスト */
.feature-body p {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature-body p {
    margin-bottom: 0.7rem;
    font-size: 1rem;
  }
}

/* 省略 */
/* ポイント */
.feature-body-point {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature-body-point {
    margin-bottom: 0.75rem;
  }
}

/* 省略 */
/* 白色ボタン */
.feature .button-white-ghost {
  /* 省略 */
}

@media (min-width: 768px) {
  .feature .button-white-ghost {
    margin-top: 1.25rem;
    margin-left: 0;
  }
}

/* 省略 */
/* ランキング
------------------------------------------ */
.ranking {
  background-color: #fff7f2;
}

.ranking .container {
  padding: 3.25rem 1.25rem 3.75rem;
}

.ranking .section-title {
  margin-bottom: 2.5rem;
}

/* タイトル英語表記 */
.ranking .section-title-en {
  margin-bottom: 0.25rem;
  max-width: 7rem;
}

/* 省略 */
/* ランキング
------------------------------------------ */
/* 省略 */
/* ランキングリスト */
.ranking-list-group {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 43.125rem;
  margin: auto;
}

/* アイテム */
.ranking-list-group-item {
  display: flex;
  column-gap: 1rem;
}

/* ランキング画像 */
.ranking-thumbnail {
  position: relative;
  width: 100%;
  max-width: 7.5rem;
}

/* ランキングバッジ */
.ranking-thumbnail-badge {
  position: absolute;
  top: -1rem;
  left: -0.875rem;
  max-width: 1.8125rem;
}

/* ランキングボディ */
.ranking-body {
  width: 100%;
}

/* ランキングタイトル */
.ranking-body-title {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
}

/* ランキングインナー */
.ranking-body-inner {
  display: flex;
  justify-content: space-between;
}

/* ランキングカテゴリー、日付 */
.ranking-body-category,
.ranking-body-date {
  font-size: 0.75rem;
}

/* ランキングカテゴリー */
.ranking-body-category {
  margin-right: 1.25rem;
  color: #ee9c70;
}

/* ランキング日付 */
.ranking-body-date {
  color: #999;
}

/* ランキング
------------------------------------------ */
/* 省略 */
.ranking .container {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking .container {
    padding: 5rem 0;
  }
}

/* 省略 */
.ranking .section-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking .section-title {
    margin-bottom: 2.7rem;
  }
}

/* 省略 */
/* タイトル英語表記 */
.ranking .section-title-en {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking .section-title-en {
    max-width: 8.75rem;
  }
}

/* 省略 */
.ranking-thumbnail-badge {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking-thumbnail-badge {
    top: -1.2rem;
    left: -1.1rem;
    max-width: 2.3125rem;
  }
}

/* ランキングボディ */
.ranking-body {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking-body {
    padding-top: 0.5rem;
  }
}

/* ランキングタイトル */
.ranking-body-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking-body-title {
    margin-top: 0;
    margin-bottom: 0.55rem;
    font-size: 1.5rem;
  }
}

/* ランキングインナー */
.ranking-body-inner {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking-body-inner {
    line-height: 1;
    justify-content: flex-start;
  }
}

/* ランキングカテゴリー、日付 */
.ranking-body-category,
.ranking-body-date {
  /* 省略 */
}

@media (min-width: 768px) {
  .ranking-body-category,
  .ranking-body-date {
    font-size: 1rem;
  }
}

/* 省略 */
/* レシピ検索
------------------------------------------ */
/* タイトル */
.search-title {
  text-align: center;
  margin-bottom: 2.15rem;
}

.search .section-title {
  margin-bottom: 0.7rem;
}

.search .section-title-en{
  max-width: 5.5rem;
}

/* もっと見る */
.search-more {
  font-size: 0.875rem;
  color: #ee9c70;
}

/* レシピ検索
------------------------------------------ */
/* 省略 */
/* カテゴリー */
.search-category {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.05rem;
  column-gap: 1rem;
}

/* ピンク色ボタン */
.search .button-pink-ghost {
  max-width: none;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 0.875rem;
}

/* レシピ検索
------------------------------------------ */
@media (min-width: 768px) {
  .search .container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 3rem;
    align-items: flex-start;
  }
}

/* 省略 */
/* タイトル */
.search-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .search-title {
    min-width: 19rem;
    margin-bottom: 0;
  }
}

.search .section-title {
  /* 省略 */
}

@media (min-width: 768px) {
  .search .section-title {
    margin-bottom: 0.8rem;
  }
}

/* 省略 */
.search .section-title-en{
  /* 省略 */
}

@media (min-width: 768px) {
  .search .section-title-en{
    max-width: 6.625rem;
  }
}

/* もっと見る */
.search-more {
  /* 省略 */
}

@media (min-width: 768px) {
  .search-more {
    font-size: 1rem;
  }
}

/* カテゴリー */
.search-category {
  /* 省略 */
}

@media (min-width: 768px) {
  .search-category {
    margin-top: 0.65rem;
    row-gap: 0.95rem;
    column-gap: 0.85rem;
  }
}

/* ピンク色ボタン */
.search .button-pink-ghost {
  /* 省略 */
}

@media (min-width: 768px) {
  .search .button-pink-ghost {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1rem;
  }
}